.happiness-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -45%;
  left: 35%;
}

#happiness-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
}

.happiness-container {
  width: 25%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.happiness-bar {
  height: 100%;
  transition: width 0.3s ease-in-out, background-color 0.5s ease-in-out;
  border-radius: 15px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.low {
  background: linear-gradient(
    90deg,
    rgba(255, 94, 94, 1) 0%,
    rgba(255, 94, 94, 0.8) 100%
  );
}

.medium {
  background: linear-gradient(
    90deg,
    rgba(255, 198, 92, 1) 0%,
    rgba(255, 198, 92, 0.8) 100%
  );
}

.high {
  background: linear-gradient(
    90deg,
    rgba(47, 190, 47, 1) 0%,
    rgba(47, 190, 47, 0.8) 100%
  );
}
