.popup {
  position: absolute; /* or absolute */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;

  /* Centering */
  margin: auto;
}

.popup-inner {
  text-align: center;
}

.popup-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-smalltext {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.popup-close {
  font-size: 16px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-close:disabled {
  background: #cccccc;
  cursor: not-allowed;
}
