/* src/Popup.css */
.popup {
  position: absolute;
  max-width: fit-content;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-close {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.popup-smalltext {
  float: left;
  white-space: pre-line;
}
