#phone {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #424242;
  background-color: #c5c5c5;
  border-radius: 15px;
  position: absolute;
  width: 450px;
  height: 600px;
  top: 22%;
  left: calc(50% - 225px);
}

.phone-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.phone-text {
  font-size: 20px;
  margin: 10px;
  white-space: pre-line;
}

.option {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 40px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #ccc;
}
