html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.border {
  background-color: #ebcbab;
  height: calc(100% - 20px);
  margin: 10px;
  border: 5px solid black;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  position: relative;
}

#notification {
  background-color: lightyellow;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.7);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notification .fas {
  margin-right: 10px;
}

#notification p {
  margin: 0;
  text-align: center;
}

#notification .close {
  margin-left: 10px;
  cursor: pointer;
  color: #888;
}

#notification .close {
  margin-left: 10px;
  cursor: pointer;
  color: #888;
}

.window {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #9cdffa;
  border: 1px solid #402f1d;

  border-radius: 10px;
}

.left-window {
  top: 100px;
  left: 100px;
}

.right-window {
  top: 100px;
  left: calc(100% - 500px);
}

.window::before,
.window::after {
  content: "";
  position: absolute;
  background-color: #554029;
}

.window::before {
  width: 1px; /* Vertical line */
  height: 100%;
  top: 0;
  left: 50%; /* Adjust left position for vertical line */
}

.window::after {
  width: 100%; /* Horizontal line */
  height: 1px;
  top: 50%; /* Adjust top position for horizontal line */
  left: 0;
}

#phone {
  font-family: "Open Sans", sans-serif;
  border: 1px solid #424242;
  background-color: #c5c5c5;
  border-radius: 15px;
  position: absolute;
  width: 450px;
  height: 600px;
  top: 22%;
  left: calc(50% - 225px);
}

.phone-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.option {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 40px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #ccc;
}

#computer {
  position: absolute;
  top: 20%;
  left: calc(50% - 375px);
}

#computer .computer-img {
  width: 750px;
}

#computer .youtube-logo {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 15px;
}

#computer #computer-text {
  width: 200px;
  position: absolute;
  top: 75px;
  margin: 15px;
  font-size: 100px;
  left: 40%;
}

.video {
  position: absolute;
  height: 150px;
  top: 50px;
  left: 0px;
}
